.customer {
    height: 350px;
    padding-top: 5rem;
    border-top: 2px solid var(--color-dark-800);


    &__inner {
    }

    &__header {
        text-align: center;
        
    }

    &__title {
        margin-top: 0;
        font-size: 35px;
        font-weight: 700;
        text-align: center;
    }

    &__text {
        font-size: 25px;
    }

    &__introText {
        font-size: 25px;
        font-style: italic;
        font-weight: 700;

    }

    &__link {
        font-size: 25px;;
    }

}