.customer {
    height: 350px;
    display: grid;
    padding: 32px;
    text-align: left;
    padding-top: 5rem;
    border-top: 2px solid rgb(235, 230, 230);


    &__inner {
        text-align: center;
    }

    &__header {
        text-align: center;
    }

    &__title {
        margin-top: 0;
        font-size: 35px;
        line-height: 1.66;
        font-weight: 700;
        text-align: center;
    }

    &__text {
        font-size: 25px;
    }

    &__introText {
        font-size: 25px;
        font-style: italic;
        font-weight: 700;

    }

    &__link {
        font-size: 25px;;
    }

}