@use '../utilities/responsive';

.site-header {
    //opacity: 0.40;
    //position: fixed;
    //@at-root: 160px;
    width: 100%;
    display: grid;
    //grid-template-columns: var(--grid-container);
    padding: 0 var(--gap-xl);
    z-index: 990; //ligger över 999 lager
    position: absolute;
    margin-top: 45px; //https://nekocalc.com/px-to-rem-converter
    

    @include responsive.max(40rem) {
        padding: 0 var(--gap-l);
    }

    &__inner {
        //grid-column: full;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__branding {
        display: block;
    }
}